.item {
  border: 1px solid $color-gray;
  padding: 20px;
  border-radius: 20px;
  transition: all .3s;
  margin-top: 30px;

  &:hover {
    box-shadow: 0 0 11px $hover-gray-dark;
    cursor: pointer;
  }

  &__img {
    width: 100%;
    height: 280px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include media-breakpoint-down(md) {
      background-size: contain;
    }

  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 6rem;
    padding: 20px 0;
    p {
      display: flex;
      justify-content: space-between;
      margin: 5px 0;
      flex-wrap: wrap;
      span {
        font-weight: bold;
      }
    }
  }

  &__name {
    font-size: 21px;
    min-height: 55px;
    text-align: center;
  }
}