main {
  min-height: 60rem;

  section {
    margin-bottom: 50px;

    .row {
      min-height: 40rem;
      opacity: 1;
      animation: slideIn .5s ease;
    }

  }

  .filters label {
    margin-right: 15px;
  }

}