.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0, 0.8);
  cursor: pointer;

  .item {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    cursor: auto;
    width: 50%;
    @include media-breakpoint-down(md) {
      width: 80%;
    }

    &__img {
      background-size: contain;
      height: 420px;
    }

    &__description {
      max-width: 50%;
      @include media-breakpoint-down(md) {
        max-width: 100%;
      }
      margin: 0 auto;
    }

  }

  &.active {
    display: block;
  }
}